    <!doctype html>
    <html>
    <head>
    <title>Meal.js</title>
    </head>
    <body>
    <header><img src="/img/logo.jpg" alt="Meadowlark Travel Logo" alt="Meal logo" height="100" width="100"></header>
    {{{body}}}
    </body>
    </html>